<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently looking for opportunities in data science teams. I recently graduated from
      <a class="underline-link" href="http://www.nitrr.ac.in" target="_blank">National Institute of Technology</a>, Raipur, Chhattisgarh, India.
      I am open for opportunities for both full time and internship roles.  
    </p>

    <p>
      As a developer, I enjoy developing application and projects using my technical skills and engineering knowledge. 
      My goal is to discover, analyze and manipulate &mdash; the power of 'data'.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing football, designing,
      or clicking pictures.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
