<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a Engineering graduate from
      <a class="underline-link" href="http://www.nitrr.ac.in" target="_blank">National Institute of Technology</a>, Raipur,
      Chhattisgarh, India. My work is focused on developing products in fields such as data science, data engineering, 
      deep learning, computer vision and natural language processing.   
    </p>

    <p>
      My goal is to discover, analyze and harness &mdash; the power of 'data'. Data 
      is indeed the new oil of the era we live in. 
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing football, designing,
      or clicking pictures. 
    </p>

    <!--  {% include employment-status.html %} -->
  </div>
</section>
