<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a recent graduate from
      <a class="underline-link" href="http://www.nitrr.ac.in" target="_blank">National Institute of Technology</a>, Raipur,
      Chhattisgarh, India. My work is focused on developing products and researching in data science,
      deep learning architectures, computer vision and natural language processing.   
    </p>

    <p>
      As a developer, I enjoy developing projects using my technical skills and engineering knowledge. 
      My goal is to discover, analyze and manipulate &mdash; the power of 'data'. 
      I'm currently looking for opportunities in data science teams in both full time and internship roles.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing football, designing,
      or clicking pictures. 
    </p>

    {% include employment-status.html %}
  </div>
</section>
